# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Next.js
apps/web/.next/
apps/web/out/

# Build
dist/
*.tsbuildinfo

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
*.pem
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Sentry
.sentryclirc

# EAS
.eas/

# Test
coverage/
